body {
    font-family: Arial, sans-serif;
    background-color: #c6c09f;
    color: #333;
    margin: 20px;
}

h1 {
    color: #000000;
}

h2 {
    color: #70b1ed;
}

img.foto-personal {
    width: 200px;
    border-radius: 10px;
    border: 2px solid #000000;
    margin-bottom: 20px;
}

table {
    width: 60%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #999;
}

th {
    background-color: #d61c1c;
    padding: 8px;
}

td {
    padding: 8px;
    text-align: center;
}

footer {
    text-align: center;
    color: #666;
    font-size: 0.9em;
    margin-top: 40px;
}
